<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Sipariş İşlemleri</title>
<th:block layout:fragment="header">
	<!-- Select2 -->
	<link rel="stylesheet" th:href="@{/plugins/select2/select2.min.css}">
	<!-- DataTables -->
	<link rel="stylesheet"
		href="/plugins/datatables/dataTables.bootstrap4.css">
	<link rel="stylesheet" type="text/css"
		href="/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css">
</th:block>
</head>
<body>

	<th:block layout:fragment="page_header">
		Sipariş Kayıt Formu
	</th:block>

	<th:block layout:fragment="breadcrumb">
		<li class="breadcrumb-item">Sipariş Kayıt</li>
	</th:block>

	<div layout:fragment="page_content">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Sipariş Kayıt</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form role="form" th:object="${basket}">
				<div class="card-body">
					<input type="hidden" id="id" name="id" th:field="*{id}">
					<div th:if="${basket.id == 0}">

						<div class="form-group">
							<label>Müşteri Seçiniz</label> <select
								class="form-control select2" style="width: 100%;"
								id="customerId" name="customerId">
								<option th:each="_customer: ${customer}"
									th:text="${_customer.customerName+ ' ' +_customer.customerSurname}"
									th:value="${_customer.id}" />
							</select>
						</div>
					</div>
				</div>
				<!-- /.card-body -->
				<div th:if="${basket.id > 0}">
					<div>
						<label><h1 th:text="${customer}"></h1></label>
					</div>
					<div class="col-lg-3 btn-group">
						<button id="shirtBtn" class="btn btn-success"
							th:onclick="'window.location.href = \'' + @{/saveShirt/{id}(id=${basket.id})} + '\''">Gomlek
							Ekle</button>
						<button id="waistBtn" class="btn btn-success"
							th:onclick="'window.location.href = \'' + @{/saveWaist/{id}(id=${basket.id})} + '\''">Yelek
							Ekle</button>
						<button id="jacketBtn" class="btn btn-success"
							th:onclick="'window.location.href = \'' + @{/saveJacket/{id}(id=${basket.id})} + '\''">Ceket
							Ekle</button>
						<button id="pantBtn" class="btn btn-success"
							th:onclick="'window.location.href = \'' + @{/savePant/{id}(id=${basket.id})} + '\''">Pantolon
							Ekle</button>
					</div>
					<table id="example"
						class="table table-striped table-hover dt-responsive display"
						cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Sepet</th>
								<th>İşlem</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Sepet</th>
								<th>İşlem</th>
							</tr>
						</tfoot>
					</table>

					<div class="form-group date">
						<label for="name">Prova Tarihi1</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-calendar"></i></span>
							</div>
							<input type="text" class="form-control" id="fittingDate"
								name="fittingDate" th:field="*{fittingDate}"
								data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
						</div>
					</div>

					<div class="form-group date">
						<label for="name">Prova Tarihi2</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-calendar"></i></span>
							</div>
							<input type="text" class="form-control" id="fittingDate2"
								name="fittingDate2" th:field="*{fittingDate2}"
								data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
						</div>
					</div>

					<div class="form-group date">
						<label for="name">Teslim Tarihi</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-calendar"></i></span>
							</div>
							<input type="text" class="form-control" id="deliveryDate"
								name="deliveryDate" th:field="*{deliveryDate}"
								data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
						</div>
					</div>

					<div class="form-group">
						<label>Kumaş Markası</label> <select class="form-control select2"
							style="width: 100%;" id="fabricId" name="fabricId">
							<option th:each="_fabric: ${fabrics}" th:text="${_fabric.name}"
								th:value="${_fabric.id}" />
						</select>
					</div>

					<div class="form-group">
						<label for="name">Sipariş Tutarı</label> <input type="text"
							class="form-control" id="amount" name="amount"
							placeholder="Sipariş Tutarı" th:field="*{amount}">
					</div>
				</div>

				<div class="card-footer">
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</div>
			</form>
		</div>
	</div>

	<th:block layout:fragment="script">
		<!-- DataTables -->
		<script th:src="@{/plugins/datatables/jquery.dataTables.js}"></script>
		<script th:src="@{/plugins/datatables/dataTables.bootstrap4.js}"></script>
		<script type="text/javascript" language="javascript"
			th:src="@{/plugins/datatables/extensions/Responsive/js/dataTables.responsive.js}"></script>
		<script th:src="@{/plugins/select2/select2.full.min.js}"></script>
		<!-- InputMask -->
		<script th:src="@{/plugins/input-mask/jquery.inputmask.js}"></script>
		<script
			th:src="@{/plugins/input-mask/jquery.inputmask.date.extensions.js}"></script>
		<script th:src="@{/plugins/input-mask/jquery.inputmask.extensions.js}"></script>
		<!-- page script -->
		<script>
			$(document)
					.ready(
							function() {
								//Initialize Select2 Elements
								$('.select2').select2();
								$('#fittingDate, #fittingDate2, #deliveryDate').inputmask('dd/mm/yyyy', {
									'placeholder' : 'dd/mm/yyyy'
								})

								var table = $('#example')
										.DataTable(
												{
													"searching" : false,
													"ajax" : {
														"url" : "/listItems/"
																+ $("#id")
																		.val(),
														"dataSrc" : ""
													},
													"columns" : [
															{
																"data" : "itemType"
															},
															{
																"data" : null,
																"defaultContent" : "<div class=\"btn-group\"><button id=\"updateBtn\" class=\"btn btn-warning\">Düzenle</button> <button id=\"deleteBtn\" class=\"btn btn-danger\">Sil</button></div>"
															} ]

												});

								$('#example tbody')
										.on(
												'click',
												'button',
												function() {
													var data = table.row(
															$(this).parents(
																	'tr'))
															.data();
													var id = data["id"];
													var type = data["itemType"];
													var itemType = (type === "Gomlek" ? "Shirt"
															: (type === "Ceket" ? "Jacket"
																	: (type === "Yelek" ? "Waist"
																			: (type === "Pantolon" ? "Pant"
																					: ""))));
													if ($(this).attr('id') === "updateBtn") {
														window.location.href = baseUrl
																+ 'save'
																+ itemType
																+ '/'
																+ $("#id")
																		.val()
																+ '/' + id;
														+id;
													} else if ($(this).attr(
															'id') === "deleteBtn") {

														$
																.ajax({
																	url : baseUrl
																			+ 'delete'
																			+ itemType
																			+ '/'
																			+ id,
																	dataType : 'json',
																	type : 'GET',
																	contentType : 'application/json',
																	processData : false,
																	success : function(
																			data,
																			textStatus,
																			jQxhr) {
																		window.location.href = baseUrl
																				+ 'basket/'
																				+ $(
																						"#id")
																						.val();

																	},
																	error : function(
																			jqXhr,
																			textStatus,
																			errorThrown) {
																		console
																				.log(errorThrown);
																	}
																});

													}
												});
							});

			(function($) {
				$.fn.serializeFormJSON = function() {

					var o = {};
					var a = this.serializeArray();
					$.each(a, function() {
						if (o[this.name]) {
							if (!o[this.name].push) {
								o[this.name] = [ o[this.name] ];
							}
							o[this.name].push(this.value || '');
						} else {
							o[this.name] = this.value || '';
						}
					});
					return o;
				};
			})(jQuery);

			$('form').submit(function(e) {
				e.preventDefault();
				var data = $(this).serializeFormJSON();
				console.log(data);

				$.ajax({
					url : '/saveBasket',
					dataType : 'json',
					type : 'post',
					contentType : 'application/json',
					data : JSON.stringify(data),
					processData : false,
					success : function(data, textStatus, jQxhr) {
						window.location.href = '/basket/' + data["result"];
					},
					error : function(jqXhr, textStatus, errorThrown) {
						console.log(errorThrown);
					}
				});

			});
		</script>
	</th:block>
</body>