<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Kumaş İşlemleri</title>
</head>
<body>

	<th:block layout:fragment="page_header">
		Kumaş Kayıt Formu
	</th:block>

	<th:block layout:fragment="breadcrumb">
		<li class="breadcrumb-item">Kumaş Kayıt</li>
	</th:block>

	<div layout:fragment="page_content">
		<div class="card card-primary">
			<div class="card-header">
				<h3 class="card-title">Kumaş Kayıt</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->
			<form role="form" th:object="${fabric}">
				<div class="card-body">
							<input type="hidden" id="id" name="id" th:field="*{id}">
					<div class="form-group">
						<label for="name">Kumaş Markası</label> <input type="text"
							class="form-control" id="name" name="name"
							placeholder="Kumaş Markası" th:field="*{name}">
					</div>
				</div>
				<!-- /.card-body -->

				<div class="card-footer">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>

	<th:block layout:fragment="script">
		<!-- page script -->
		<script>
			(function($) {
				$.fn.serializeFormJSON = function() {

					var o = {};
					var a = this.serializeArray();
					$.each(a, function() {
						if (o[this.name]) {
							if (!o[this.name].push) {
								o[this.name] = [ o[this.name] ];
							}
							o[this.name].push(this.value || '');
						} else {
							o[this.name] = this.value || '';
						}
					});
					return o;
				};
			})(jQuery);

			$('form').submit(function(e) {
				e.preventDefault();
				var data = $(this).serializeFormJSON();
				console.log(data);

				$.ajax({
					url : '/saveFabric',
					dataType : 'json',
					type : 'post',
					contentType : 'application/json',
					data : JSON.stringify(data),
					processData : false,
					success : function(data, textStatus, jQxhr) {
						window.location.href='/fabrics';
					},
					error : function(jqXhr, textStatus, errorThrown) {
						console.log(errorThrown);
					}
				});

			});
		</script>
	</th:block>
</body>